#container{
height: 300px;
width: 500px;
border: 2px solid black;
margin: auto;
background-color: aqua;
}
#button{
display: flex;
justify-content: center;
margin-top: 30px;

}
#output{
display: flex;
justify-content: center;
}
#box1{
display: flex;
justify-content: center;
/* height: 30px; */
width: 70px;
border: 2px solid black;
background-color: rgb(0, 153, 255);
border-radius: 30px;
margin: 10px 210px;
}
#box2{
display: flex;
justify-content: center;
width: 70px;
border: 2px solid black;
background-color: rgb(0, 255, 34);
border-radius: 30px;
margin:20px 210px
}
#box3{
display: flex;
justify-content: center;
width: 70px;
border: 2px solid black;
background-color: rgb(238, 255, 0);
border-radius: 30px;
width: 70px;
margin:20px 210px
}